  .art-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
  }
  .art-form label {
    font-size: 12px;
    text-align: left;
    display: block;
  }
  .art-form h1 {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
  }
  .art-form input, .art-form textarea {
    font-size: 12px;
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
  }
  .art-form button {
    background: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
  }