  .art-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
  }
  .art-form label {
    font-size: 12px;
    text-align: left;
    display: block;
  }
  .art-form h1 {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
  }
  .art-form h2 {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
  }
  .art-form input, .art-form textarea, select {
    font-size: 12px;
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
  }
  .btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  a.details {
    margin: 0px 65px;
    text-decoration: underline;
  }
  .d-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .d-form input,
  .d-form select,
  .d-form label {
    margin-right: 10px;
  }
  .d-form select {
    width: 50px;
  }
  .d-form label{
    font-weight: 500;
  }
  .art-form button {
    background: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
  }
