li {
    list-style: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}
h2{
    font-size: 20px;
    margin-bottom: 8px;
}
h4{
    margin-top: 8px;
    font-size: 16px;
}
p{
    font-size: 12px;
}
.card button {
    margin-top: 0.5rem;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 2px 8px;
    background: transparent;
    cursor: pointer;
}
  
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(40%);
  }
}
  
@media (min-width: 1024px) {
  .card {
    width: calc(30% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(30% - 2rem);
  }
}
/* ,
    {
      "inCart": false,
      "artist": "Tara Atefi",
      "image": "./images/Butterfly_Flame.jpg",
      "title": "Butterfly ",
      "product": "Oil Painting",
      "price": "700",
      "description": "This is a drawing",
      "firstDimension": "",
      "secondDimension": "",
      "unit": "",
      "mediums": "Drawing",
      "userUploaded": true,
      "id": 7
    } */