#header{
    position: relative;
    
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header-container h1{
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 2rem;
}
.header-container h1 span{
    display: block;
}
h1 span:nth-child(1){
    font-weight: 800;
}
h1 span:nth-child(2),
h1 span:nth-child(3){
    font-weight: 100;
}
.header-container h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: black;
}
.header-left p{
    margin: 3rem 0;
    /* margin-bottom: .5rem; */
    color: black;
    width: 70%;
}
.header-btn a{
    display: inline;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 8px;
}
.header-right img{
    width: 90%;
    margin-left: 4rem;
}
@media screen and (max-width: 769px) {
  .header-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
    .header-container {
      flex-direction: column;
    }
  
    .header-left,
    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  
    .header-left {
      margin-bottom: 4rem;
    }
  
    .header-container h1::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .header-right img {
     width: 80%;
     margin-left: 0;
    }
  }
  

   