.search-bar-container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgba(51, 51, 51, 0.305);
    border-radius: 6px;
}
#search{
    margin: 20px;
}
#search-bar{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
}
.search-icon{
    font-size: 2rem;
    border-radius: 6px;
}











